<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Document</title>
    <!--to be labaled name of website-->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <!--Eazy Sneezy h1-->
    <section>
        <header>
            <nav>
                <div>
                    <h1>Eazy Sneezy</h1>
                    <div>
                        <ul>
                            <li>
                                <span>Logout</span>
                            </li>
                            <li>
                                <span>Profile</span>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <form action="get">
                            <input type="search" name="search" id="">
                            <button type="submit">
                                <!--magnifying glass icon--></button>
                        </form>
                    </div>
                </div>
            </nav>
        </header>
    </section>

    <h3>Member Feed</h3>
    <!--All memeber feed-->
    <ul>
        <!-- <% entries.forEach( el => { %> *** Code for looping through all members posts and displaying them ***
       <% if(el.userId === user.userId){  %> 
            <li class='entryItem' data-id='<%=el._id%>'>
                *** Add span where users can "like" a post.  Keeps count of likes to a particular post. ***
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                <span class='del'> Delete </span>
            </li>
        <% }  %> 
    <% }) %>     -->
    </ul>

    <!--Followed feed-->
    <!-- *** Same as forEach above, but this is for members a user specifically follows *** -->

    <!--A form to upload an image to the database-->
    <form action="/entries/createEntry" method='POST'>
        <input type="text" placeholder="Enter Entry" name='entryItem'>
        <input type="submit">
    </form>

    <script src="js/main.js"></script>
</body>

</html>