<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Document</title>
</head>

<body>
    <!--h1 login for the homepage Non logged in users see this by default.  Users who logout get re-reouted to here-->
    <h1>Login to Eazy Sneezy Social</h1>

    <!--Login form-->
    <form method="GET">
        <input type="email" name="email" id="">
        <input type="password" name="password" id="">
        <button type="submit">Login</button>
    </form>
</body>

</html>