<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Eazy Sneezy Social App</title>
</head>

<body>
    <section>
        <header>
            <nav>
                <div>
                    <h1>Eazy Sneezy</h1>
                    <div>
                        <ul>
                            <li>
                                <span>Logput</span>
                            </li>
                            <li>
                                <span>Profile</span>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <form action="get">
                            <input type="search" name="search" id="">
                            <button type="submit">
                                <!--magnifying glass icon--></button>
                        </form>
                    </div>
                </div>
            </nav>
        </header>
    </section>

    <h3>User Feed</h3>
    <!--Logged in user's feed-->

    <ul>
        <!-- <% todos.forEach( el => { %> *** Code for looping through all user's posts and displaying them ***
       <% if(el.microsoftId === user.microsoftId){  %> 
            <li class='todoItem' data-id='<%=el._id%>'>
                *** Add span where users can "like" a post.  Keeps count of likes to a particular post. ***
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                <span class='del'> Delete </span>
            </li>
        <% }  %> 
    <% }) %>     -->
    </ul>
</body>

</html>